body {
    background-color: black;
}

p {
    color: black;
    font-family: verdana;
    font-size: 20px;
}

.pheader {
    color: orange;
    font-family: verdana;
    font-size: 25px;
    font-weight: bold;
    
}

.containerHeader {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    background-color: black;
}

.containerFooter {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
       
}

.item-Header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: black;
    display: flex;
    justify-content: center;
  }

  .item-a {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }

  .item-b {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
   
    display: flex;
    justify-content: center;
  }

  .item-c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
  }
